/* =======Підключення шрифтів вручну======= */
@import url("fonts.css");

/*=======Скидання стилів=======*/
@import url("reset.css");

body {
	background-color: #0c0c0d;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
}

/* для усіх "__container" однаково */
[class*="__container"] {
	max-width: 1220px;
	margin: 0 auto;
}


/* ---header--- */
.header {
	background: linear-gradient(to top right, #ff00ff 0%, #66ffff 100%);
	padding: 15px; 

	/* фіксуємо "header" */
	position: fixed;
	width: 100%;
	z-index: 100;
	top: 0;
	left: 0;
}
/* .menu {} */
.menu__item {
	display: inline-block;
	position: relative; /* "sub-menu" позіціонування 3-го пунку меню */
}
.menu__link {
	background-color: #9966ff76;
	box-shadow: 5px 5px 20px #7c1bf2bd;
	padding: 10px 35px;
	display: inline-block;
    font-size: 20px;
    font-weight: 700;
    color: #fbfefb;
	text-shadow: 2px 0 0 #000;
    font-family: 'Poppins', sans-serif;
    line-height: 150%;	
	margin-right: 25px;
	margin-bottom: 5px;
}
.menu__link:hover {
	background-color: rgba(3, 239, 247, 0.645);
}


/* відтворюємо відображення "sub-menu" */
.menu__item:hover .sub-menu {
	visibility: visible;
}
/* відтворюємо відображення "sub-menu" */

.sub-menu__link--4:hover {
	color: #7906bc;
}
/* ---sub-menu--- */
.sub-menu {
	position: absolute; /* "sub-menu" позіціонуємо відносно 3-го пунку меню "menu__item"*/
	top: 100%;
	left: 0;
	padding-top: 5px; /* щоб не було преривань між пунктами меню і "sub-menu" */
	color: #0c0c0d;
	width: 200px; /* ширина "sub-menu" */
	visibility: hidden; /* тепер ховаємо "sub-menu" і відображаємо його при наведенні на "menu__item" */
}
.sub-menu__item {	
	background-color: rgba(122, 233, 174, 0.646);
	box-shadow: 12px 12px 22px #fff;
	padding: 10px 15px;
}
.sub-menu__link {
	font-size: 20px;
    font-weight: 700;
    color: #fdfbfb;
    font-family: 'Poppins', sans-serif;
	display: inline-block;
}
.sub-menu__link:hover {
	text-decoration-style: double;
	text-decoration-line: underline;
	text-decoration-color: rgb(181, 53, 245);
}


/*  */

/* --- "floor-menu" --- */
.floor-menu {	
	position: absolute; /* "floor-menu" позіціонуємо відносно 3-го пунку меню "sub-menu__item"*/
	top: 67%;
	left: 80%;
	padding: 15px 10px; /* щоб не було преривань між пунктами меню і "floor-menu" */
	color: #37393F;
	width: 250px; /* ширина "floor-menu" */
	visibility: hidden; /* тепер ховаємо "floor-menu" і відображаємо його при наведенні на "sub-menu__item" */
}
.floor-menu__item {
	background-color: rgba(21, 215, 254, 0.348);
	box-shadow: 10px 10px 22px #fff;
	padding: 10px 20px;
}
.floor-menu__link {
	font-size: 20px;
	color: rgb(5, 27, 112);
	font-weight: 700;
    font-family: 'Poppins', sans-serif;
	display: inline-block;
}
.floor-menu__link:hover {
	color: rgb(245, 240, 247);
	text-decoration: wave;
	text-decoration-style: wavy;
	text-decoration-line: underline;
	text-decoration-color: rgb(2, 2, 149);
}

/* відтворюємо відображення "floor-menu" */
.sub-menu__item:hover .floor-menu {
	visibility: visible;
}
/* відтворюємо відображення "floor-menu" */

/* ---header--- */

/*  */


/* -----section ------------ */
.section {
	padding: 120px 0px 100px 0px;
}

/* ---sidebar--- */
.sidebar__logo a {
	color: #ff9736;
	font-size: 50px;
	text-transform: uppercase;	
	font-weight: 900;
	text-shadow: 2px 15px 20px #fbc480;
}

.sidebar::after {
	content: "";
	display: inline-block;
	width: 100%;
	height: 3px;
	background: linear-gradient(to right, black, 20%,rgb(236, 40, 138), black);
	margin-top: 50px;

}
/* ---menu--- */
.menu-sidebar {	
	color: #fdfbfb;
	max-width: 300px;
}
span {
	width: 10px;
	height: 10px;
	background-color: #fff;
	margin-right: 10px;
	display: inline-block;
	vertical-align: top;
	margin-top: 2px;
}

/* ---модіфікатори--- */
.menu-sidebar__item--1 {
	background-color: #202020;
	margin-bottom: 15px;
}
.menu-sidebar__item--1:hover {
	background-color: #f59a09;
}

.menu-sidebar__item--2 {
	background-color: #202020;
	margin-bottom: 15px;
}
.menu-sidebar__item--2:hover {
	background-color: #f59a09;
}

.menu-sidebar__item--3 {
	background-color: #202020;
	margin-bottom: 15px;
}
.menu-sidebar__item--3:hover {
	background-color: #f59a09;
}

.menu-sidebar__item--4 {
	background-color: #202020;
}
.menu-sidebar__item--4:hover {
	background-color: #f59a09;
}
/* ---модіфікатори--- */


.menu-sidebar__link:not(:last-child) {
	margin-bottom: 20px;		
}
.menu-sidebar__link {
	font-size: 18px;
    color: #fdfbfb;
    font-family: 'Poppins', sans-serif;
	display: inline-block;
	padding: 15px 20px 20px 20px;
}



/* ------------------------------------------------------------------------------------ */
/* --====---efir-menu--====--- */
.efir-menu {
	position: absolute; /* "floor-menu" позіціонуємо відносно 3-го пунку меню "menu-sidebar__item"*/
	top: 5%;
	left: 100%;
	background-color: rgba(255, 5, 97, 0.15);
	padding: 10px 5px; /* щоб не було преривань між пунктами меню і "efir-menu" */
	color: #7b99f4;
	width: 250px; /* ширина "efir-menu" */
	visibility: hidden; /* тепер ховаємо "efir-menu" і відображаємо його при наведенні на "menu-sidebar__item" */
}
.efir-menu__item {
	background-color: #ff0571;
	margin-bottom: 5px;
}
.efir-menu__link {
	font-size: 18px;
    color: #f8c2c2;
	font-weight: 700;
    font-family: 'Inter', sans-serif;
	display: block;
	padding: 10px;
}
.efir-menu__link:hover {
	text-decoration: underline;
	color: #ff8121;
}
/* ---===--efir-menu---===--- */

/* ---===--позіціонуємо вкладене меню "ЕФІР"---===-- */
.menu-sidebar__item {
	position: relative;		
}
/* ---===--позіціонуємо вкладене меню "ЕФІР"---===-- */


/* ---===--відтворюємо відображення "ЕФІР"---===-- */
.menu-sidebar__item:hover .efir-menu {
	visibility: visible;
}
/* ---===--відтворюємо відображення "ЕФІР"---===-- */


/* -------------------------------------------------------------------------- */
/* ---jazz-menu---- */
.jazz-menu 	{
	position: absolute; /* "jazz-menu" позіціонуємо відносно 3-го пунку меню "efir-menu__item "*/
	top: 0;
	left: 100%;
	padding: 5px 5px; /* щоб не було преривань між пунктами меню і "jazz-menu" */
	color: #7b99f4;
	width: 250px; /* ширина "jazz-menu" */
	visibility: hidden; /* тепер ховаємо "jazz-menu" і відображаємо його при наведенні на "efir-menu__item " */
}
.jazz-menu__item {
	background-color: #7d6ba0;
}
.jazz-menu__link {
	font-size: 18px;
    color: #f8c2c2;
    font-family: 'Inter', sans-serif;
	display: inline-block;
	padding: 10px;
}
.jazz-menu__link:hover {
	text-decoration: underline;
	color: #ff8121;
}


/* ---===--позіціонуємо вкладене меню "ЕФІР"---===-- */
.efir-menu__item {
	position: relative;		
}
/* ---===--позіціонуємо вкладене меню "ЕФІР"---===-- */


/* ---===--відтворюємо відображення "ЕФІР"---===-- */
.efir-menu:hover .jazz-menu {
	visibility: visible;
}
/* ---===--відтворюємо відображення "ЕФІР"---===-- */

/* ---jazz-menu---- */

/* ------------------------------------------------------------------------------------------- */

.info{
	position: fixed;
	top: 120px;
	right: 110px;
	z-index: 2;
}





/* -------------------------------------------------------------------------------------------- */
/* block cards */
.cards {
	font-size: 0;
	padding: 100px 0px;
	max-width: 1220px;
	margin: 0 auto;
}


/* card */
.card:not(:last-child) {
	margin-right: 31px;
}
.card {
	display: inline-block;
	max-width: 386px;
	position: relative;
}
.card__image img{
	max-width: 100%;
}
.card__image::before { /* плашка для фотокартки */
	content: "";
	position: absolute; 
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: rgba(107, 119, 229, 0.70);
}
.card__image:hover::before {
	opacity: 0.5;
}

/* row */
.row:not(:last-child) {
	margin-bottom: 31px
}


/* social icons */
.card__social {
	display: inline-block;
	font-size: 0;

	position: absolute; /* відносно усієї картки */
 	top: 241px;
	left: 88px; 
}

.social-item:not(:last-child) {
	margin-left: 13px;
}
.social-item {
	display: inline-block;
	font-size: 20px;
}
.card__social { 			/* приховуємо елементи "icon" */
	visibility: hidden;
}
.card:hover .card__social {	 /* при наведені на картку звертаємось до елементу "icon" та робимо видимим */
	visibility: visible;
}
.social-item img {
	max-width: 100%;
}


/* text */
.card__body {
	padding: 24px 45px;
	background-color: #fff;
	margin-right: 22px;
	margin-left: 23px;
	width: 341px;
/* 	width: 88%; */

	position: absolute;
	bottom: 22px;
	left: 0;
}
.card__title {
	color: #37393F;
	text-align: center;
	font-family: 'Poppins';
	font-size: 25px;
	font-weight: 600;
	line-height: 1.52;
}
.card__text {
	color: #7D7D7D;
	text-align: center;
	font-family: 'Inter';
	font-size: 18px;
	line-height: 135.187%;
}