/* =======Підключення шрифтів вручну======= */
@import url("fonts.css");

/*=======Скидання стилів=======*/
@import url("reset.css");



.wrapper {
	overflow: clip;
	min-height: 100%;
}


/* card */
.card {
	max-width: 386px;
	position: relative;
}
.card__image img{
	max-width: 100%;
}
.card__image::before { /* плашка для фотокартки */
	content: "";
	position: absolute; 
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: rgba(107, 119, 229, 0.70);
}
.card__image:hover::before {
	opacity: 0.5;
}

/* social icons */
.card__social {
	display: inline-block;
	font-size: 0;

	position: absolute;
	top: 241px;
	left: 88px;
}
.social-item:not(:last-child) {
	margin-left: 13px;
}
.social-item {
	display: inline-block;
	font-size: 20px;
}
/* .social-item__link {
	visibility: hidden;
}
.social-item__link:hover {
	visibility: visible;
} */
.social-item img {
	width: 45px;
	height: 45px;
	max-width: 100%;
}

/* text */
.card__body {
	padding: 24px 69px;
	background-color: #fff;
	margin-right: 22px;
	margin-left: 23px;

	position: absolute;
	bottom: 22px;
	left: 0;
}
.card__title {
	color: #37393F;
	text-align: center;
	font-family: 'Poppins';
	font-size: 25px;
	font-weight: 600;
	line-height: normal;
}
.card__text {
	color: #7D7D7D;
	text-align: center;
	font-family: 'Inter';
	font-size: 18px;
	line-height: 135.187%;
}